Package: apfsutil
Name: APFSUtil
Depends: libjb
Version: 1.0
Architecture: appletvos-arm64
Description: A tool to list and delete APFS volumes and to list and refresh the rootless prefix path if applicable.
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: System
Tag: role::hacker
